{% extends 'base.html' %}
{% block body %}
    <div class="container mx-0 my-5">
        <h2>Hello {{ current_user.username }}</h2>
    </div>
    <div class="content">
        <form action="" method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Contact</legend>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name.label(class='form-control-label')}}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class='form-control form-control-lg is-invalid')}}
                        {% for error in form.first_name.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg")}}
                    {% endif%}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class='form-control-label')}}
                    {% if form.last_name.errors %}
                        {{ form.last_name(class='form-control form-control-lg is-invalid')}}
                        {% for error in form.last_name.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.last_name(class="form-control form-control-lg")}}
                    {% endif%}
                </div>
                <div class="form-group">
                    {{ form.email.label(class='form-control-label')}}
                    {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid')}}
                        {% for error in form.email.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                    {% endif%}
                </div>
                <div class="form-group">
                    {{ form.number.label(class='form-control-label')}}
                    {% if form.number.errors %}
                        {{ form.number(class='form-control form-control-lg is-invalid')}}
                        {% for error in form.number.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.number(class="form-control form-control-lg")}}
                    {% endif%}
                </div>
                <div class="submit-btn">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}